.slider-anuncio {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    /* Centra horizontalmente */
    align-items: center;
    /* Espacio opcional arriba/abajo */
    background-color: #fff;
    /* Color de fondo del slider */
}

.slide-anuncio {
    position: relative;
}

.slide-anuncio {
    display: none;
    max-width: 100%;
    /* Que no se pase del ancho de pantalla */
    height: auto;
    /* Mantiene la proporción original */
}

.slide.active {
    display: block;
}