* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* ESTILOS PARA LA NAVBAR */

.navbar {
    background: linear-gradient(90deg, #8BD0FF, #8BD0FF, #8BD0FF);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
    flex-wrap: wrap;
    /* Permite que los elementos se acomoden mejor en pantallas pequeñas */
}


/* LOGO */

.logo img {
    height: 70px;
    width: auto;
    display: block;
    margin-right: auto;
    /* Centra el logo en pantallas pequeñas */
}